.product-card {
    display: grid;
    grid-template-areas: 
        "image button"
        "price description";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    color: var(--main-color-text);
}

.product-card_image {
    grid-area: image;
    min-width: 300px;
}

.product-card_button {
    grid-area: button;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.product-card_price {
    grid-area: price;
}

.product-card_description {
    grid-area: description;
}

:host {
    --slds-c-card-radius-border: 10px;
    --sds-c-card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --slds-c-card-color-background: var(--product-card-background);
    --slds-c-card-color-border: transparent;
    --slds-c-card-text-color: var(--main-color-text);
    --sds-c-button-neutral-color-border: transparent;
    --sds-c-button-neutral-color-background: var(--button-color-background);
    --slds-c-button-text-color: var(--main-color-text);

}